/*-----------------------------------------------------
  First View
------------------------------------------------------*/
@import "media-query";
@import "colors";

.fv {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  text-align: center;

  color: text-palette(inverse);
  background: url("../img/fv.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    font-size: 5rem;

    z-index: 1;

    line-height: 1;

    @include mq-down(sm) {
      font-size: 20vw;
    }

    &--sub {
      font-size: 1.5rem;

      z-index: 1;

      // padding-top: 24px;

      letter-spacing: 4px;

      @include mq-down(sm) {
        font-size: 5vw;
      }
    }
  }

  &::before {
    position: absolute;

    content: "";

    background-color: #0000004d;

    inset: 0;
  }
}