/*-----------------------------------------------------
  Header
------------------------------------------------------*/
@import "media-query";
@import "colors";
@import "variables";
$header-height: 80px;


header {
  position: fixed;
  z-index: 99;

  width: 100%;
  height: $header-height;
  inset: 0 0 auto 0;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;

  background-color: bg-palette(header);

  @include mq-up(md) {
    padding: 0 40px;
  }
  @include mq-down(md) {
    padding: 0 12px;

    &__nav {
      display: none;

      pointer-events: none;
    }
  }

  &__title {
    font-family: $sub-font;
    font-size: 1.5rem;

    color: text-palette();
  }

  &__nav {
    margin-right: 48px;
  }

  & > * + * {
    margin-left: 24px;
  }
}